<!DOCTYPE html>
<html lang="en"> <!-- Corrección: cambié "en" por "es" puesto que el idioma es español -->

<head>

    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Corrección: coma en lugar de punto -->

    <!-- Título de la página -->
    <title>TaskMinder Web</title>
    <link rel="stylesheet" href="../static/style_taskminder_app.css"> <!-- Llamada al style.css para cargar los estilos -->

    <!-- Para símbolos de redes y candado y usuario-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"> <!-- Corrección: uso de comillas simples para la URL -->

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../static/taskminder_favicon.ico">
    <!-- Menú -->
    <header class="header">
        <a href="/" class="logo">TaskMinder</a>

        <nav class="navbar">
            <a href="/" style="--i:1;" class="active">Inicio</a>
            <a href="/aplicacion" style="--i:2;">Aplicación</a>
            <a href="/sobre_nosotros" style="--i:3;">Sobre</a>
            <a href="/opiniones" style="--i:4;">Opiniones</a>
            <a href="/premium" style="--i:5;">Premium</a>
            <a href="/contacto" style="--i:6;">Contacto</a>
            <a href="/login" style="--i:7;">Login</a>
        </nav>

        <!-- Símbolos de redes sociales -->
        <div class="social-media">
            <a href="https://www.instagram.com/olmolopezm?igsh=ZmxtdjFwYno4a3Bp&utm_source=qr" target="_blank" style="--i:1"><i class='bx bxl-instagram-alt' ></i></a> <!-- Símbolo Instagram -->
            <a href="https://www.linkedin.com/in/olmolopezmatabuena/" target="_blank" style="--i:2"><i class='bx bxl-linkedin-square' ></i></a> <!-- Símbolo LinkedIn -->
        </div>
    </header>
</head>
