{% include 'sitio/cabecera_taskminder_app.html' %}

<body>
    <h1>Configurar Horas Disponibles</h1>
    <form method="post" action="{{ url_for('configurar_horas') }}">
        {% for dia, horas in horas.items() %}
            <label for="{{ dia }}">{{ dia }}:</label>
            <input type="number" name="{{ dia }}" id="{{ dia }}" value="{{ horas }}" min="0" step="1" required>
            <br>
        {% endfor %}
        <input type="submit" value="Guardar">
    </form>
</body>

{% include 'sitio/pie_pagina.html' %}
