{% include 'sitio/cabecera.html' %} <!-- Aquí le digo con esta instrucción de Jinja que incluya la cabecera -->

<body>

    <!-- Lo que hay dentro de la página -->
    <section class="opiniones">

        <!-- Botón TaskMinder App -->
        <div class="opiniones-contenido">
            <h1>¡Comparte tu opinión con nosotros!</h1>
            <H3></H3>
            <p>¡Tu opinión es importante para nosotros! Nos encantaría saber lo que piensas sobre nuestra app. Por favor, comparte tus comentarios, sugerencias o experiencias aquí.</p>

            <div class="boton-opiniones">
                <a href="/tu_opinion_importa">Tu opinión importa</a>
            </div>
        </div>

        <div class="opiniones-imgHover">
        </div>

    </section>

    <!-- Pie de página -->
    {% include 'sitio/pie_pagina.html' %}
