{% include 'sitio/cabecera.html' %} <!-- Aquí le digo con esta instrucción de Jinja que incluya la cabecera -->

<body>

    <section class="premium">

        <!-- Botón TaskMinder App -->
        <div class="premium-contenido">
            <h1>Apoya el Futuro de TaskMinder</h1>
            <H3></H3>
            <p>¿Disfrutas de TaskMinder y quieres ayudar a que siga creciendo? Únete a nuestro Patreon y sé parte del equipo que impulsa el futuro de nuestra app.</p>

            <div class="boton-premium">
                <a href="https://www.patreon.com/" target="_blank">Apóyanos en Patreon</a> <!-- target="_blank" para que se abra en otra pestaña y no cierre la web-->
            </div>
        </div>
    </section>

    <!-- Pie de página -->
    {% include 'sitio/pie_pagina.html' %}
