{% include 'sitio/cabecera_taskminder_app.html' %}

<body class="taskminder">
    <h1 class="taskminder">Taskminder</h1>
    <form class="taskminder" method="POST" action="{{ url_for('configurar_horas') }}">
        <button type="button" class="accordion taskminder">Tiempo disponible de cada día de la semana</button>
        <div class="panel taskminder">
            {% for dia in ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'] %}
                <label class="taskminder" for="tiempo-{{ dia|lower }}">{{ dia }} (en minutos):</label>
                <input type="number" id="tiempo-{{ dia|lower }}" name="{{ dia }}" value="{{ horas[dia] }}" placeholder="Tiempo en min" required>
            {% endfor %}

            <div class="button-container-primer-boton-guardar-cambios-semana">
                <button id="agregar-tarea-btn" class="taskminder" onclick="agregarTarea()">Guardar cambios</button>
            </div>
        </div>

        <button type="button" class="accordion taskminder">Entra aquí para agregar tareas</button>
        <div class="panel taskminder">
            <label class="taskminder" for="contenido">Añadir tarea:</label>
            <input type="text" id="contenido" placeholder="Nombre de tu tarea">

            <label class="taskminder" for="prioridad">Prioridad:</label>
            <select id="prioridad" class="taskminder">
                <option value="3">Máxima</option>
                <option value="2">Importante</option>
                <option value="1">Moderada</option>
                <option value="0">Menor</option>
            </select>

            <div>
                <label class="taskminder">Días que quieres realizar esta tarea:</label>
                <div class="checkbox-group taskminder">
                    <label><input type="checkbox" name="dias_semana" value="lunes"> Lunes</label>
                    <label><input type="checkbox" name="dias_semana" value="martes"> Martes</label>
                    <label><input type="checkbox" name="dias_semana" value="miercoles"> Miércoles</label>
                    <label><input type="checkbox" name="dias_semana" value="jueves"> Jueves</label>
                    <label><input type="checkbox" name="dias_semana" value="viernes"> Viernes</label>
                    <label><input type="checkbox" name="dias_semana" value="sabado"> Sábado</label>
                    <label><input type="checkbox" name="dias_semana" value="domingo"> Domingo</label>
                </div>
            </div>

            <label class="taskminder" for="hora_inicio">Hora de inicio:</label>
            <input type="time" id="hora_inicio" required>

            <label class="taskminder" for="tiempo">Duración (en minutos):</label>
            <input type="number" id="tiempo" min="1" required>
        </div>

        <button type="button" class="accordion taskminder">¿Quieres programar una alarma?</button>
        <div class="panel taskminder">
            <div>
                <label class="taskminder">¿Quieres establecer una alarma?</label>
                <label class="taskminder"><input type="radio" name="alarma" value="si"> Sí</label>
                <label class="taskminder"><input type="radio" name="alarma" value="no"> No</label>
            </div>
            <div>
                <label class="taskminder">¿Quieres un recordatorio antes de la alarma?</label>
                <label class="taskminder"><input type="radio" name="recordatorio" value="si" onchange="mostrarRecordatorio()"> Sí</label>
                <label class="taskminder"><input type="radio" name="recordatorio" value="no" onchange="mostrarRecordatorio()"> No</label>
            </div>

            <div id="recordatorio-container" style="display: none;">
                <label class="taskminder" for="tiempo-recordatorio">¿Con qué antelación quieres el recordatorio (en minutos)?:</label>
                <input type="number" id="tiempo-recordatorio" min="1" required>
            </div>

            <div>
                <label class="taskminder">¿La tarea está realizada hoy?</label>
                <label class="taskminder"><input type="radio" name="realizada-hoy" value="si" onchange="mostrarRecordatorio()"> Sí</label>
                <label class="taskminder"><input type="radio" name="realizada-hoy" value="no" onchange="mostrarRecordatorio()"> No</label>
            </div><br>

            <button id="agregar-tarea-btn" class="taskminder" onclick="agregarTarea()">Guardar cambios</button>
        </div>
    </form>

    <div id="horario-container" class="taskminder">
        <h2 class="taskminder">Horario semanal</h2>
        <div class="horario taskminder">
            <div class="dia taskminder">
                <h3>Lunes</h3>
                <ul id="tareas-lunes" class="taskminder"></ul>
            </div>
            <div class="dia taskminder">
                <h3>Martes</h3>
                <ul id="tareas-martes" class="taskminder"></ul>
            </div>
            <div class="dia taskminder">
                <h3>Miércoles</h3>
                <ul id="tareas-miercoles" class="taskminder"></ul>
            </div>
            <div class="dia taskminder">
                <h3>Jueves</h3>
                <ul id="tareas-jueves" class="taskminder"></ul>
            </div>
            <div class="dia taskminder">
                <h3>Viernes</h3>
                <ul id="tareas-viernes" class="taskminder"></ul>
            </div>
            <div class="dia taskminder">
                <h3>Sábado</h3>
                <ul id="tareas-sabado" class="taskminder"></ul>
            </div>
            <div class="dia taskminder">
                <h3>Domingo</h3>
                <ul id="tareas-domingo" class="taskminder"></ul>
            </div>
        </div>
    </div>

    <!-- Incluyo Moment.js en mi JavaScript de la app -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- Archivo JavaScript -->
    <script src="{{ url_for('static', filename='taskminder_script.js') }}"></script>

</body>

<!-- Pie de página -->
{% include 'sitio/pie_pagina.html' %}
