{% include 'sitio/cabecera.html' %} <!-- Aquí le digo con esta instrucción de Jinja que incluya la cabecera -->

<body>

    <!-- Lo que hay dentro de la página -->
    <section class="terminos">

        <!-- Botón TaskMinder App -->
        <div class="terminos-condiciones">
            <h1>Términos y condiciones de TaskMinder</h1>

            <p><strong>Por favor, lee atentamente estos términos y condiciones antes de utilizar la aplicación TaskMinder:</strong></p>

            <ol>
                <li><strong>Aceptación de los términos</strong>
                    <p>Al registrarte y utilizar la aplicación TaskMinder, aceptas cumplir y estar sujeto a estos términos y condiciones. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices la aplicación.</p>
                </li>

                <li><strong>Registro de usuarios</strong>
                    <p>Para utilizar TaskMinder, es necesario registrarse proporcionando un nombre, apellido, dirección de correo electrónico y contraseña válidos. Estos datos son necesarios para crear y mantener tu cuenta en la aplicación.</p>
                </li>

                <li><strong>Uso de datos</strong>
                    <p>TaskMinder recopilará y almacenará los datos proporcionados durante el registro (nombre, apellido, correo electrónico y contraseña) con el único propósito de permitirte utilizar la aplicación y sus funciones asociadas. No compartiremos tus datos con terceros para fines comerciales ni los utilizaremos para fines distintos al funcionamiento de TaskMinder, a menos que obtengamos tu consentimiento expreso.</p>
                </li>

                <li><strong>Feedback y menciones</strong>
                    <p>Podemos solicitar tu permiso para utilizar tus comentarios y sugerencias sobre TaskMinder para mejorar nuestros servicios o para mencionarte en los créditos de la aplicación. Tu participación es completamente voluntaria y tu consentimiento será solicitado antes de cualquier uso público de tu feedback.</p>
                </li>

                <li><strong>Contribuciones a través de Patreon</strong>
                    <p>TaskMinder puede ofrecer la opción de realizar contribuciones a través de la plataforma Patreon. No se utilizarán los datos de los contribuyentes con fines comerciales.</p>
                </li>

                <li><strong>Cambios en los términos y condiciones</strong>
                    <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Se te notificará sobre cualquier cambio importante en los términos y condiciones. El uso continuado de TaskMinder después de dichas modificaciones constituirá tu aceptación de los nuevos términos y condiciones.</p>
                </li>

                <li><strong>Contacto</strong>
                    <p>Si tienes alguna pregunta o preocupación sobre estos términos y condiciones, por favor contáctanos a través de "201.olmo.lopez@gmail.com".</p>
                </li>
            </ol>

            <p><strong>Última actualización: 01/03/2024.</strong></p>

            <div class="boton-terminos-condiciones">
                <a href="/registrate">App TaskMinder</a>
            </div>
        </div>

    </section>

    <!-- Pie de página -->
    {% include 'sitio/pie_pagina.html' %}
